body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	background-color: #F0F0F0;


}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
}
.toc1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	font-weight: normal;
	line-height: 17px;

}
.toc2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	line-height: 17px;

}
p {
	margin: 0px;
}
.toc1Passed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	font-weight: normal;
	color: #000000;
	line-height: 17px;

}
.toc2Passed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	color: #000000;
	line-height: 17px;

}
.toc1Visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	font-weight: normal;
	color: #000000;
	line-height: 17px;

}
.toc2Visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	color: #000000;
	line-height: 17px;

}
a {
	color: #000000;
	text-decoration: none;
}
.toc1Current {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	font-weight: bold;
	line-height: 17px;
	background-color: #CCCCCC;



}
.toc2Current {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	color: #000000;
	background-color: #c0c0c0;
	font-weight: normal;
	line-height: 16px;




}
.tocButtons {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	font-weight: normal;
	line-height: 16px;


}
.toc1Disabled {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	font-weight: normal;
	line-height: 17px;
	color: #999999;

}
.organization {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	font-weight: bold;
	line-height: 17px;
}
