<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="aspnet:IgnoreFormActionAttribute" value="true" />

    <add key="UploadFilesTempPath" value="/temp" />
    <add key="UploadFilesMaximumFileSize" value="100" />
    <add key="user" value="trainingschool" />
    <add key="pass" value="*Giuseppe" />
    <add key="HostMasterPublic" value="www.training-school.it" />
    <add key="HostMaster" value="40.67.204.30" />
    <add key="DBMaster" value="trainingschool" />
    <add key="dbinsertfrom" value="trainingschool" />
    <add key="dnsuser" value="rg55738-ovh" />
    <add key="dnspassword" value="6A9bUhlm" />
    <add key="email" value="info@training-school.it" />
    <add key="domain" value="training-school.it" />
    <add key="thirdDomainMaster" value="fad" />

    <add key="usermailjet" value="8e8a3eb8077f04a2af478d284db3e7c0" />
    <add key="passmailjet" value="f3188802f1f838d7a344b9362c65716f" />
    <add key="smtpmailjet" value="in-v3.mailjet.com" />
    <add key="smtpmethod" value="sendblue" />
    <add key="Smtp.Server" value="smtp.ovh.it" />
    <add key="Smtp.Username" value="info@training-school.it" />
    <add key="Smtp.Password" value="Giuseppe_78" />
    <!-- config template -->
    <add key="mt" value="0" />
    <add key="mr" value="10" />
    <add key="ml" value="10" />
    <add key="mb" value="10" />
    <add key="hh" value="40" />
    <add key="hf" value="55" />
    <add key="ct" value="0" />
    <add key="cr" value="50" />
    <add key="cl" value="50" />
    <add key="cb" value="10" />
    <add key="ch" value="60" />
    <add key="cf" value="55" />
  </appSettings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Impostare compilation debug="true" per inserire i 
            simboli di debug nella pagina compilata. Poiché tale operazione ha effetto 
            sulle prestazioni, impostare questo valore su true 
            solo durante lo sviluppo.

            Opzioni di Visual Basic:
            Impostare strict="true" per impedire qualsiasi conversione di tipi di dati 
            in caso di possibile perdita di dati. 
            Impostare explicit="true" per imporre la dichiarazione di tutte le variabili.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>

    <globalization uiCulture="it" culture="it-IT" />
    <httpRuntime executionTimeout="600" maxUrlLength="10999" maxRequestLength="50000000" maxQueryStringLength="2097151" requestValidationMode="2.0" />
    <!--
            La sezione <authentication> consente di configurare 
            la modalità di autenticazione della sicurezza utilizzata da 
            ASP.NET per identificare un utente in ingresso. 
        -->
    <authentication mode="Windows" />
    <!--
            La sezione <customErrors> consente di configurare 
            l'operazione da eseguire in caso di errore non gestito 
            durante l'esecuzione di una richiesta. In particolare, 
            consente agli sviluppatori di configurare le pagine di errore HTML 
            in modo che vengano visualizzate al posto dell'analisi dello stack dell'errore.
            <customErrors mode="On" defaultRedirect="Wflogin.aspx">
      <error statusCode="403" redirect="403.aspx"/>
      <error statusCode="404" redirect="404.aspx"/>
      <error statusCode="500" redirect="500.aspx"/>
    </customErrors>
 -->
    <customErrors mode="Off" />
  </system.web>
  <!-- 
        La sezione system.webServer è richiesta per eseguire ASP.NET AJAX in Internet
       Information Services 7.0. Non è necessaria per la versione precedente di IIS.
    -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!-- IIS Specific Targeting (noted by the system.webServer section) -->
  <system.webServer>

    <!--<rewrite>
        <rules>
          <clear />
          <rule name="Redirect to https" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
          </rule>
        </rules>
      </rewrite>-->


    <security>
      <requestFiltering>
        <!-- This will handle requests up to 50MB -->
        <requestLimits maxAllowedContentLength="520428800" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="Wflogin.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>
